.login {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .overlap-wrapper {
  background-color: #ffffff;
  width: 1500px;
  height: 720px;
}

.login .overlap {
  position: relative;
  height: 720px;
  background-image: url(./img/photo-1507525428034-b723cf961d3e-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.login .frame {
  position: absolute;
  width: 1499px;
  height: 719px;
  top: 1px;
  left: 1px;
  background-color: #0000004c;
}

.login .rectangle {
  position: absolute;
  width: 507px;
  height: 641px;
  top: 40px;
  left: 497px;
  background-color: #d9d9d94c;
  border-radius: 30px;
}

.login .overlap-group-wrapper {
  position: absolute;
  width: 242px;
  height: 81px;
  top: 568px;
  left: 631px;
}

.login .overlap-group {
  position: relative;
  width: 240px;
  height: 81px;
}

.login .text-wrapper {
  position: absolute;
  width: 156px;
  top: 17px;
  left: 42px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 55px;
  letter-spacing: 0;
  line-height: 44px;
  white-space: nowrap;
}

.login .img {
  position: absolute;
  width: 240px;
  height: 81px;
  top: 0;
  left: 0;
  mix-blend-mode: soft-light;
}

.login .logo-no-background {
  position: absolute;
  width: 211px;
  height: 171px;
  top: 100px;
  left: 645px;
  object-fit: cover;
}

.login .div {
  position: absolute;
  width: 357px;
  height: 79px;
  top: 309px;
  left: 572px;
  background-color: #d9d9d9;
  border-radius: 30px;
}

.login .rectangle-2 {
  position: absolute;
  width: 357px;
  height: 79px;
  top: 411px;
  left: 572px;
  background-color: #d9d9d9;
  border-radius: 30px;
}

.login .text-wrapper-2 {
  position: absolute;
  top: 506px;
  left: 671px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #060606;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 44px;
  white-space: nowrap;
}

.login .text-wrapper-3 {
  position: absolute;
  top: 326px;
  left: 654px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #0000004c;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 44px;
  white-space: nowrap;
}

.login .password {
  position: absolute;
  top: 425px;
  left: 654px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #0000004c;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 44px;
  white-space: nowrap;
}

.login .user-name-logo {
  position: absolute;
  width: 42px;
  height: 44px;
  top: 327px;
  left: 589px;
  object-fit: cover;
}

.login .password-2 {
  position: absolute;
  width: 48px;
  height: 44px;
  top: 426px;
  left: 583px;
  object-fit: cover;
}
